<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
  <div class="mx-auto">
    <div class="flex justify-between items-center border-b border-gray-100 py-2 pb-2 px-8 pr-8">
      <div class="md:flex space-x-10">
        <div class="humburger-menu"><img src="/assets/images/menu-icon.svg" alt="HUmburger Menu"></div>
      </div>
      <div class="flex">
        <a href="#">
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </a>
      </div>
      <div class="md:flex items-center justify-end">
        <div class="user-dropdown">
          <span class="usr-act w-32 h-32 relative overflow-hidden	rounded-full object-cover	object-center"><img src="/assets/images/avatar-default.svg" alt="User Avatar"></span>
        </div>
      </div>
    </div>
  </div>
</div>
