<div class="filter-row py-2 pb-2 flex items-center">
  <div class="filter-lt pl-8">
    <button mat-raised-button class="filter-btn"><i class="w-3 h-3 rounded-full mr-1 act-lbl"></i>Auction</button>
    <button mat-raised-button class="filter-btn">Price</button>
    <button mat-raised-button class="filter-btn">Beds & Baths</button>
    <button mat-raised-button class="filter-btn">Home Type</button>
    <button mat-raised-button class="filter-btn">More</button>
  </div>
  <div class="filter-rt flex justify-between pr-8 pl-6">
    <div class="ttl-listing-lbl">129 Listings</div>
    <mat-slide-toggle>Grid View</mat-slide-toggle>
  </div>
</div>
