
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demp-app-primary: mat.define-palette(mat.$indigo-palette);
$demp-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demp-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$demp-app-theme: mat.define-light-theme((
  color: (
    primary: $demp-app-primary,
    accent: $demp-app-accent,
    warn: $demp-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($demp-app-theme);

/* You can add global styles to this file, and also import other style files */

@import './scss/variables';
@import './scss/mixins';
@import './scss/typography';

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-family-regular;
  color: $body-gray;
  font-size: 16px;
  line-height: 26px;
}

p {
  font-family: $font-family-regular;
  color: $body-gray;
  font-size: 16px;
  line-height: 20px;
}

.app-badge {
  min-width: 57px;
  line-height: 34px;
  padding: 0 15px;
  color: $app-gray-150;
  background: $app-gray-50;
  font-family: $font-family-semibold;
  margin-right:  8px;
  justify-content: center;

  &.success-badge {
    background: $light-success-color;
    color: $dark-success-color;
  }

  &:last-child {
    margin-right: 0;
  }
}


.act-lbl {
  border: 1px solid $medium-success-color;
  background: $light-success-color;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .mat-slide-toggle {
  .mat-slide-toggle-label {
    display: flex;
    flex-direction: row-reverse;

    .mat-slide-toggle-content {
      margin: 0 8px 0 0;
      color: $body-blue-900;
      font-size: 14px;
      font-family: $font-family-medium;
    }

    .mat-slide-toggle-bar {
      margin: 0;
      background: $app-gray-50;
      height: 24px;
      width: 44px;
      border-radius: 50px;

      .mat-slide-toggle-thumb-container {
        top: 2px;
        left: 2px;

        .mat-slide-toggle-thumb {
          background: $white;
          box-shadow: none;
        }
      }
    }
  }
  &.mat-checked {
    .mat-slide-toggle-thumb-container {
      transform: translate3d(19px, 0, 0);
    }

    .mat-slide-toggle-thumb {
      background: $medium-success-color !important;
    }

    .mat-ripple-element {
      background: $medium-success-color !important;
    }
  }
}

/** Pagination css **/
.pagination {
  .pagi-btn {
    box-shadow: none;
    min-width: inherit;
    line-height: 24px;
    padding: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $app-gray-50;
    }
  }

  ul {
    li {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin: 0 4px;

      &.selected, &:hover {
        background: $app-gray-50;
      }
    }
  }
}
/** Pagination css **/
