@charset 'utf-8';

$white: #ffffff;
$black: #000000;
$primary-color: #f00000;
$dark-primary-color: #3e9404;
$medium-success-color: #35D399;
$light-success-color: #ECFEF6;
$dark-success-color: #076046;
$info-color: #00bbd3;
$dark-info-color: #0096a6;
$warning-color: #fe9700;
$dark-warning-color: #f47b00;
$danger-color: #f34235;
$dark-danger-color: #d22e2e;
$dark-gray-color: #606060;

$body-gray: #5A6978;
$app-gray-50: #F3F6F9;
$app-gray-150: #8796A5;
$body-blue-900: #1E4976;
$body-dark-blue: #011E3C;




/**font variables**/
$font-family-light: 'ibm_plex_sans_lightregular';
$font-family-regular: 'ibm_plex_sansregular';
$font-family-medium: 'ibm_plex_sans_mediumregular';
$font-family-semibold: 'ibm_plex_sans_semiboldregular';
$font-family-bold: 'ibm_plex_sansbold';
$font-family-thin: 'ibm_plex_sans_thinregular';
$font-family-secondary-bold: 'albrabold';
